@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@500&family=Roboto&display=swap');

/**Handy**/
/* @media only screen and (max-width:700px) { */
    .login {
        background-color: rgba(0, 0, 0, 0.744);
        width: 80%;
        height: 75%;
        padding: 3vh 1vh;
         border-radius: 4%;
         z-index: -1000;
         left: 7%;
         right: 3%;
         top: 10%;
         position: fixed;
         font-family: "Roboto";
     }
     
     .head {
       font-weight: bold;
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
       font-size: 300%;
       text-align: center;
       font-family: "Dancing Script";
     }
     .WEL {
      font-weight: bold;
      background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
      color: transparent;
      background-clip: text;
      font-size: 200%;
      text-align: center;
      width: auto;
     }
     #us {
       margin:10% 0%;
       background: black;
       width: 70%;
       height: 5%;
       font-size:120%;
       margin: 3% 5%;
       border: none;
       color: white;
     
     }
     #pa {
       background: transparent ;
       border: none;
       width: 70%;
       font-size:120%;
       margin: 3% 5%;
       color: white;
       background-color: black;
     
     }
     #us::placeholder {
      font-family: "Roboto";
      color: rgb(215, 211, 211);
      padding: 3%;
     }
     #pa::placeholder {
      font-family: "Roboto";
      padding: 3%;
      color: rgb(215, 211, 211);

     }
     #us1 {
       background: transparent ;
       border-bottom: 1% rgb(255, 255, 255) ;
       border-top: none;
       border-right: none;
       border-left: none;
       width: auto;
       font-size:120%;
       margin:2% 0%;
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
       font-family: 'Dancing Script';
     
     
     }
     #us1::placeholder {
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
       font-family: 'Dancing Script';
     
     }
     #pa1::placeholder {
      font-family: "Roboto";
      color: white;
     
     }
     
     #pa1 {
       background: transparent ;
       border-bottom: 1% rgb(255, 255, 255) ;
       border-top: none;
       border-right: none;
       border-left: none;
       width: auto;
       font-size:120%;
        margin:2% 0%;
        background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
      font-family: 'Dancing Script';
     
       
     }
     .importantI {
       font-size: 130%;
       margin: 0% 5%;
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
     }
     .sg  {
     color: rgb(63, 139, 233);
     cursor: pointer;
     text-decoration:underline ;
     
     
     }
     
     p {
       background: none;
       border: 0;
       box-sizing: border-box;
       box-shadow:inset 0 0 0 1px #f96767;
       font-weight: bolder;
       margin:-7% 4%;
      width: auto;
      padding: 3%;
      height: 7%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5%;
      background-color: black;
      background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
      font-family: "Dancing Script";
     
     
     }
     .AniB {
       overflow: hidden;
       position: absolute;
       
     }
     .AniB::before, .AniB::after {
       content: '';
       box-sizing: border-box;
       position: absolute;
       border: 3px solid transparent;
       width: 0;
       height: 0;
     }
     .AniB::before {
       top: 0;
       left: 0;
       border-top-color: #60daaa;
       border-right-color: #60daaa;
       animation: border 2s infinite;
     }
     .AniB::after {
       bottom: 0;
       right: 0;
       animation: border 2s 1s infinite, borderColor 2s 1s infinite;
     }
     
     @keyframes border {
       0% {
         width: 0;
         height: 0;
       }
       25% {
         width: 100%;
         height: 0;
       }
       50% {
         width: 100%;
         height: 100%;
       }
       100% {
         width: 100%;
         height: 100%;
       }
     }
     @keyframes borderColor {
       0% {
         border-bottom-color: #60daaa;
         border-left-color: #60daaa;
       }
       50% {
         border-bottom-color: #60daaa;
         border-left-color: #60daaa;
       }
       51% {
         border-bottom-color: transparent;
         border-left-color: transparent;
       }
       100% {
         border-bottom-color: transparent;
         border-left-color: transparent;
       }
     }
     .signUP {
       color: white;
     }
     #email {
       background: transparent ;
       border-bottom: 1% rgb(255, 255, 255) ;
       border-top: none;
       border-right: none;
       border-left: none;
       width: auto;
       height: 5%;
       font-size:155%;
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
       margin:2% 0%;
       font-family: 'Dancing Script';
     
     }
     #email::placeholder {
       font-family: "Roboto";
       color: white;
     }
     .REG {
       display: flex;
       flex-direction: column;
       margin: 0% 5%;
     }
     .headR {
       font-weight: bold;
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
       font-size: 300%;
       text-align: center;
     }
    .plus {
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      font-size: 4.5vh;
      position: fixed;
      background-color: rgb(43, 42, 42);
      border-radius: 50%;
      width: 4.5vh;
      height: 4.5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 100;
      cursor: pointer;
      inset: 7vh 0vh;
    }
    .addThings {
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      z-index: 1000;
      background-color: rgb(43, 42, 42);
      border-radius: 5px;
      cursor: pointer;
      position: fixed;
      top: 9%;
      left: 3%;
      padding: 1vh;
      transition: ease-in 0.2s;
    }
    .eleT:hover {
      background-color: rgb(69, 69, 69);
    }
    .eleT {
      font-family: 'Dancing Script' ;
    }
    .inPOST {
      background: none;
      background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
      color: transparent;
      background-clip: text;
      font-family: 'Dancing Script';
      font-size: 2.5vh;
      font-weight: 700;
      align-items: center;
      cursor: pointer;
      margin-top: 3vh;
    }
    .imgPOST {
      text-align: center;
      max-width: 300px;
      max-height: 300px;
      margin-top: 5vh ;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5%;

    }
    .headPO {
      font-weight: bold;
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
       font-size: 300%;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .imgSPO {
      margin-top: 1vh ;
      max-width: 300px;
      max-height: 300px;
      border: none;
      border-radius: 5%;
    }
   
    .videoPOST {
      text-align: center;
      max-width: 400px;
      max-height: 300px;
      margin-top: 5vh ;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5%;
    }
    .videoSPO {
      margin-top: 1vh ;
      max-width: 400px;
      max-height: 300px;
      border: none;
      border-radius: 5%;
    }
    .inPOST1 {
      background-color: black;
      font-size: 2.5vh;
      width: 70%;
      border-bottom: 1% rgb(255, 255, 255);
      border-right: none;
      border-left: none ;
      border-top: none;
      height: 5%;
    }
    .messagePOST {
      color: white;
      height: auto;
    }
    .signInG {
      font-size: 130%;
      margin: 0% 4%;
      background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
      color: transparent;
      background-clip: text;
      font-family: "Dancing Script";
    }
     
/* } */


/**Tablet**/

@media only screen and (min-width:701px) {
  .login {
    background-color: rgba(0, 0, 0, 0.744);
    width: 75%;
    height: 75%;
    padding: 3vh 1vh;
     border-radius: 4%;
     z-index: -100;
     left: 20%;
     right: 3%;
     top: 15%;
     position: fixed;
     font-family: 'Dancing Script';
 }
 
 .head {
   font-weight: bold;
   background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
   color: transparent;
   background-clip: text;
   font-size: 300%;
   text-align: center;
 }
 #us {
   margin:10% 0%;
   background: transparent ;
   border-bottom: 1% white ;
   border-top: none;
   border-right: none;
   border-left: none;
   width: 70%;
   height: 5%;
   font-size:120%;
   margin: 3% 5%;
   font-family: 'Dancing Script';
   background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
   color: transparent;
   background-clip: text;
 
 }
 #pa {
   background: transparent ;
   border-bottom: 1% rgb(255, 255, 255) ;
   border-top: none;
   border-right: none;
   border-left: none;
   width: 70%;
   font-size:120%;
   margin: 3% 5%;
   font-family: 'Dancing Script';
   background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
   color: transparent;
   background-clip: text;
 
 }
 #us::placeholder {
   font-family: 'Dancing Script';
   background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
   color: transparent;
   background-clip: text;
 
 }
 #pa::placeholder {
   font-family: 'Dancing Script';
   background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
   color: transparent;
   background-clip: text;
 
 }
 #us1 {
   background: transparent ;
   border-bottom: 1% rgb(255, 255, 255) ;
   border-top: none;
   border-right: none;
   border-left: none;
   width: auto;
   font-size:120%;
 margin:2% 0%;
 font-family: 'Dancing Script';
 background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
 color: transparent;
 background-clip: text;
 
 }
 #us1::placeholder {
   font-family: 'Dancing Script';
 background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
 color: transparent;
 background-clip: text;
 
 }
 #pa1::placeholder {
   font-family: 'Dancing Script';
   background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
   color: transparent;
   background-clip: text;
 }
 
 #pa1 {
   background: transparent ;
   border-bottom: 1% rgb(255, 255, 255) ;
   border-top: none;
   border-right: none;
   border-left: none;
   width: auto;
   font-size:120%;
    margin:2% 0%;
    font-family: 'Dancing Script';
    background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    color: transparent;
    background-clip: text;
 }
 .importantI {
   font-size: 130%;
   margin: 0% 5%;
   font-family: 'Dancing Script';
    background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    color: transparent;
    background-clip: text;
 }
 .sg  {
 cursor: pointer;
 text-decoration:underline rgb(96, 251, 181) ;
 font-family: 'Dancing Script';
    background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    color: transparent;
    background-clip: text;
 }
 
 
 .child {
   font-family: 'Dancing Script';
 }
 p {
   background: none;
   border: 0;
   box-sizing: border-box;
   box-shadow:inset 0 0 0 1px #f96767;
   font-weight: bolder;
   margin: 0% 4%;
  width: auto;
  padding: 2%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  background-color: black;
  font-family: 'Dancing Script';
    background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    color: transparent;
    background-clip: text;
 }
 
 
 .AniB {
   overflow: hidden;
   position: absolute;
   
 }
 .AniB::before, .AniB::after {
   content: '';
   box-sizing: border-box;
   position: absolute;
   border: 3px solid transparent;
   width: 0;
   height: 0;
 }
 .AniB::before {
   top: 0;
   left: 0;
   border-top-color: #60daaa;
   border-right-color: #60daaa;
   animation: border 2s infinite;
 }
 .AniB::after {
   bottom: 0;
   right: 0;
   animation: border 2s 1s infinite, borderColor 2s 1s infinite;
 }
 
 @keyframes border {
   0% {
     width: 0;
     height: 0;
   }
   25% {
     width: 100%;
     height: 0;
   }
   50% {
     width: 100%;
     height: 100%;
   }
   100% {
     width: 100%;
     height: 100%;
   }
 }
 @keyframes borderColor {
   0% {
     border-bottom-color: #60daaa;
     border-left-color: #60daaa;
   }
   50% {
     border-bottom-color: #60daaa;
     border-left-color: #60daaa;
   }
   51% {
     border-bottom-color: transparent;
     border-left-color: transparent;
   }
   100% {
     border-bottom-color: transparent;
     border-left-color: transparent;
   }
 }
 .signUP {
   font-family: 'Dancing Script';
   background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
   color: transparent;
   background-clip: text;
 }
 #email {
   background: transparent ;
   border-bottom: 1% rgb(255, 255, 255) ;
   border-top: none;
   border-right: none;
   border-left: none;
   width: auto;
   height: 5%;
   font-size:155%;
  margin:2% 0%;
  font-family: 'Dancing Script';
  background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
  color: transparent;
  background-clip: text;
  
 }
 #email::placeholder {
   font-family: 'Dancing Script';
   background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
   color: transparent;
   background-clip: text;
 }
 .REG {
   display: flex;
   flex-direction: column;
   margin: 0% 5%;
   font-family: 'Dancing Script';
   background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
   color: transparent;
   background-clip: text;
 }
 .headR {
   font-weight: bold;
   background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
   color: transparent;
   background-clip: text;
   font-size: 300%;
   text-align: center;
   
 }
 .plus {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 4.5vh;
  position: fixed;
  background-color: rgb(43, 42, 42);
  border-radius: 50%;
  width: 4.5vh;
  height: 4.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  cursor: pointer;
  inset: 7vh 15vw;
}
.addThings {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  z-index: 1000;
  background-color: rgb(43, 42, 42);
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  top: 9%;
  left: 17vw;
  padding: 1vh;
  transition: ease-in 0.2s;
}
.eleT:hover {
  background-color: rgb(69, 69, 69);
}
.eleT {
  font-family: 'Dancing Script' ;
}
.inPOST {
  background: none;
  background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
  color: transparent;
  background-clip: text;
  font-family: 'Dancing Script';
  font-size: 2.5vh;
  font-weight: 700;
  align-items: center;
  cursor: pointer;
  margin-top: 3vh;
}
.imgPOST {
  text-align: center;
  max-width: 300px;
  max-height: 300px;
  margin-top: 5vh ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;

}
.headPO {
  font-weight: bold;
   background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
   color: transparent;
   background-clip: text;
   font-size: 300%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.imgSPO {
  margin-top: 1vh ;
  max-width: 300px;
  max-height: 300px;
  border: none;
  border-radius: 5%;
}

.videoPOST {
  text-align: center;
  max-width: 400px;
  max-height: 300px;
  margin-top: 5vh ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
.videoSPO {
  margin-top: 1vh ;
  max-width: 400px;
  max-height: 300px;
  border: none;
  border-radius: 5%;
}
.inPOST1 {
  background-color: black;
  font-size: 2.5vh;
  width: 70%;
  border-bottom: 1% rgb(255, 255, 255);
  border-right: none;
  border-left: none ;
  border-top: none;
  height: 5%;
}
.messagePOST {
  color: white;
  height: auto;
}
.signInG {
  font-size: 130%;
  margin: 0% 4%;
  background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
  color: transparent;
  background-clip: text;
  font-family: "Dancing Script"; 
 
}

}
/*Computer*/
@media only screen and (min-width:1200px) {
    .login {
        background-color: rgba(0, 0, 0, 0.744);
        padding: 3vh 1vh;
         border-radius: 10px;
         z-index: -100;
         width: 80%;
         height: 83%;
         left: 15%;
         right: 3%;
         top: 10%;
         position: fixed;
         font-family: 'Dancing Script';
     }
     
     .head {
       font-weight: bold;
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
       font-size: 300%;
       text-align: center;
     }
     #us {
       margin:10% 0%;
       background: transparent ;
       border-bottom: 1% white ;
       border-top: none;
       border-right: none;
       border-left: none;
       width: 70%;
       height: 5%;
       font-size:120%;
       margin: 3% 5%;
       font-family: 'Dancing Script';
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
     
     }
     #pa {
       background: transparent ;
       border-bottom: 1% rgb(255, 255, 255) ;
       border-top: none;
       border-right: none;
       border-left: none;
       width: 70%;
       font-size:120%;
       margin: 3% 5%;
       font-family: 'Dancing Script';
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
     
     }
     #us::placeholder {
       font-family: 'Dancing Script';
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
     
     }
     #pa::placeholder {
       font-family: 'Dancing Script';
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
     
     }
     #us1 {
       background: transparent ;
       border-bottom: 1% rgb(255, 255, 255) ;
       border-top: none;
       border-right: none;
       border-left: none;
       width: auto;
       font-size:120%;
     margin:2% 0%;
     font-family: 'Dancing Script';
     background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
     color: transparent;
     background-clip: text;
     
     }
     #us1::placeholder {
       font-family: 'Dancing Script';
     background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
     color: transparent;
     background-clip: text;
     
     }
     #pa1::placeholder {
       font-family: 'Dancing Script';
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
     }
     
     #pa1 {
       background: transparent ;
       border-bottom: 1% rgb(255, 255, 255) ;
       border-top: none;
       border-right: none;
       border-left: none;
       width: auto;
       font-size:120%;
        margin:2% 0%;
        font-family: 'Dancing Script';
        background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
        color: transparent;
        background-clip: text;
     }
     .importantI {
       font-size: 130%;
       margin: 0% 5%;
       font-family: 'Dancing Script';
        background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
        color: transparent;
        background-clip: text;
     }
     .sg  {
     cursor: pointer;
     text-decoration:underline rgb(96, 251, 181) ;
     font-family: 'Dancing Script';
        background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
        color: transparent;
        background-clip: text;
     }
     
     
     .child {
       font-family: 'Dancing Script';
     }
     p {
       background: none;
       border: 0;
       box-sizing: border-box;
       box-shadow:inset 0 0 0 1px #f96767;
       font-weight: bolder;
       margin: 0% 4%;
      width: auto;
      padding: 2%;
      height: 7%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5%;
      background-color: black;
      font-family: 'Dancing Script';
        background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
        color: transparent;
        background-clip: text;
     }
     
     
     .AniB {
       overflow: hidden;
       position: absolute;
       
     }
     .AniB::before, .AniB::after {
       content: '';
       box-sizing: border-box;
       position: absolute;
       border: 3px solid transparent;
       width: 0;
       height: 0;
     }
     .AniB::before {
       top: 0;
       left: 0;
       border-top-color: #60daaa;
       border-right-color: #60daaa;
       animation: border 2s infinite;
     }
     .AniB::after {
       bottom: 0;
       right: 0;
       animation: border 2s 1s infinite, borderColor 2s 1s infinite;
     }
     
     @keyframes border {
       0% {
         width: 0;
         height: 0;
       }
       25% {
         width: 100%;
         height: 0;
       }
       50% {
         width: 100%;
         height: 100%;
       }
       100% {
         width: 100%;
         height: 100%;
       }
     }
     @keyframes borderColor {
       0% {
         border-bottom-color: #60daaa;
         border-left-color: #60daaa;
       }
       50% {
         border-bottom-color: #60daaa;
         border-left-color: #60daaa;
       }
       51% {
         border-bottom-color: transparent;
         border-left-color: transparent;
       }
       100% {
         border-bottom-color: transparent;
         border-left-color: transparent;
       }
     }
     .signUP {
       font-family: 'Dancing Script';
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
     }
     #email {
       background: transparent ;
       border-bottom: 1% rgb(255, 255, 255) ;
       border-top: none;
       border-right: none;
       border-left: none;
       width: auto;
       height: 5%;
       font-size:155%;
      margin:2% 0%;
      font-family: 'Dancing Script';
      background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
      color: transparent;
      background-clip: text;
      
     }
     #email::placeholder {
       font-family: 'Dancing Script';
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
     }
     .REG {
       display: flex;
       flex-direction: column;
       margin: 0% 5%;
       font-family: 'Dancing Script';
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
     }
     .headR {
       font-weight: bold;
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
       font-size: 300%;
       text-align: center;
       
     }
     .plus {
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      font-size: 4.5vh;
      position: fixed;
      background-color: rgb(43, 42, 42);
      border-radius: 50%;
      width: 4.5vh;
      height: 4.5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 100;
      cursor: pointer;
      inset: 7vh 15vw;
    }
    .addThings {
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      z-index: 1000;
      background-color: rgb(43, 42, 42);
      border-radius: 5px;
      cursor: pointer;
      position: fixed;
      top: 9%;
      left: 16vw;
      padding: 1vh;
      transition: ease-in 0.2s;
    }
    .eleT:hover {
      background-color: rgb(69, 69, 69);
    }
    .eleT {
      font-family: 'Dancing Script' ;
    }
    .inPOST {
      background: none;
      background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
      color: transparent;
      background-clip: text;
      font-family: 'Dancing Script';
      font-size: 2.5vh;
      font-weight: 700;
      align-items: center;
      cursor: pointer;
      margin-top: 3vh;
    }
    .imgPOST {
      text-align: center;
      max-width: 300px;
      max-height: 300px;
      margin-top: 5vh ;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5%;

    }
    .headPO {
      font-weight: bold;
       background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
       color: transparent;
       background-clip: text;
       font-size: 300%;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .imgSPO {
      margin-top: 1vh ;
      max-width: 300px;
      max-height: 300px;
      border: none;
      border-radius: 5%;
    }
   
    .videoPOST {
      text-align: center;
      max-width: 400px;
      max-height: 300px;
      margin-top: 5vh ;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5%;
    }
    .videoSPO {
      margin-top: 1vh ;
      max-width: 400px;
      max-height: 300px;
      border: none;
      border-radius: 5%;
    }
    .inPOST1 {
      background-color: black;
      font-size: 2.5vh;
      width: 70%;
      border-bottom: 1% rgb(255, 255, 255);
      border-right: none;
      border-left: none ;
      border-top: none;
      height: 5%;
    }
    .messagePOST {
      color: white;
      height: auto;
    }
    .signInG {
      font-size: 130%;
      margin: 0% 4%;
      background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
      color: transparent;
      background-clip: text;
      font-family: "Dancing Script";
    }
}