  main {
    background-image: url('./michaelBackground.png');
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    height:100%;
    zoom:75%;
    position: fixed;
   font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
   display: flex;
   justify-content: space-between;
  }
  .title {
   color: white;
   font-weight: bold;
   position: fixed;
   font-size: 4.5vh;
   background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
  background-clip: text;
  color: transparent;
   left:10%;
   top:0.5%;
  }
  .title:hover {
    font-size: 5vh;
  }
    .header {
    background-color: black;
    width: 100%;
    height: 7vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .ham {
    margin: 0.2vh 0;
    z-index: 999;
  }
  .linie1 {
    background-image: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    width: 6vh;
    height: 1vh;
    position: fixed;
    border-radius: 10%;
    margin:0.1vh 1vh;
  }
  .linie2 {
    background-image: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    width: 4vh;
    height: 1vh;
    position: fixed;
    border-radius: 10%;
    margin:2.1vh 1vh;
  }
  .linie3 {
    background-image: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    width: 3vh;
    height: 1vh;
    position: fixed;
    border-radius: 10%;
    margin:4.1vh 1vh;
  }
  .click {
    width: 10vh;
    height: 8vh;
    position: absolute;
    }
    .content {
    background: black;  
    position: fixed;
   width: 40%;
   height: 40vh;
   margin: 6vh 0vh ; 
   z-index: 999;
   border-radius: 0% 0% 5% 0%;
   cursor: pointer;
    }
  .textCo{
    background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    background-clip: text;
     color: transparent;
  }
  a {
    text-decoration: none;
    background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    background-clip: text;
     color: transparent;
  }
  ul { 
    list-style: none;
    font-size: 3vh;
  }
  
  .unten {
    width: 100%;
    height:  7%;
    background: #cbcbcb69 ;
    position: fixed ;
    bottom:0vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .Mitte {
    text-align: center;
    background: #cbcbcb69 ;
    width: 80%;
    height: 75%;
    padding: 1vh;
    border-radius: 4%;
    z-index: -100;
    left: 7%;
    right: 3%;
    top: 10%;
    position: fixed;
  }
  .info1 {
    background: linear-gradient(to right,#d682f8,rgb(137, 137, 253), rgb(96, 251, 181) );
    background-clip: text;
    color: transparent;
    font-weight:bold ;
    font-size: 4.5vh;
    z-index: -100;
  }
  .img1 {
    width: 5vh;
    height: 5vh;
    margin:0.5vh 20vh ;
    position: fixed;
  }
  .img2 {
    width: 5vh;
    height: 5vh;
    margin: 0.2vh -7vh;
  }
  .imageList {
    width: 89%;
    height: 75%;
    background: rgba(0, 0, 0, 0.639);
    display: flex;
    flex-direction: column;
    border-radius: 4%;
    top:6% ;
    left:12% ;
    position: sticky;
  }
  .btn1 {
    background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 4.5vh;
    position: sticky;
  }
  button {
   background: transparent;
   border: none;
   z-index: -100;
  }
  .imgI {
    width: 79%;
    height: 85%;
   border-radius: 4%;
   margin:3% 10% 1% 9%;
   position: sticky;
   z-index: -100;
  }
  .info {
    background: linear-gradient(to right,#d682f8,rgb(137, 137, 253), rgb(96, 251, 181) );
    background-clip: text;
    color: transparent;
   font-weight: bold;
   margin:3% 0%;
   text-align: left;
   font-size: 2.5vh;
   padding: 1% 3% ;
   z-index: -100;
  }
  .searchImg {
    width: 7vh;
    height: 7vh;
    position: sticky;
    z-index: -100;
    }
.element {
  background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
  background-clip: text;
  color: transparent;
    
}
.element:hover {
  color: white;
  text-decoration: underline white;
}


/**CSS Chat **/








/**CSS Bildgalerie**/
.bildgalerie {
  background-color: rgba(0, 0, 0, 0.877);
  width: 80%;
    height: 75%;
    padding: 1vh;
    border-radius: 4%;
    z-index: -100;
    left: 7%;
    right: 3%;
    top: 10%;
    position: fixed;
    overflow-y: scroll;
}
.grid {
 display: grid;
 top: 10%;
 grid-template-rows: repeat(7,0.1fr);
 padding: 5%;
}
.imgG {
   width: 87%;
   max-height: 65%;
   padding:0% 5% ;
   border-radius: 14%;
   text-align: center;
   z-index: -1;
}
.icons1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: sticky;
  margin: -32% 0%;
}
.like1 {
 position: sticky;
}
.comment1 {
  position: sticky;
}
.likeNumber {
  color: white;
  font-size: 4vh;
  margin: 0% 20%;

}


/**CSS Search**/ 
