@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');
@media only screen and (max-width: 2800px) {
 
  main {
    background-image: url('./michaelBackground.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    width: 100%;
    height:100%;
   display: flex;
   justify-content: space-between;
   position: fixed;
   font-family: 'Dancing Script',
   cursive, 'Roboto', sans-serif;
  }
  .foto1 {
    position: sticky;
    margin:0% 20%;
  }
  .foto2 {
    position: sticky;
  }
  .title {
   color: rgb(255, 255, 255);
   font-weight: bold;
   position: fixed;
   font-size: 4vh;
   background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
  background-clip: text;
  color: transparent;
   left:10%;
   top:0.5%;
   cursor: pointer;
  }
  .title:hover {
    font-size: 4.5vh;
  }
    .header {
    background-color: black;
    width: 100%;
    height: 7vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .shPi {
    color: white;
    width:90%;
    height:75%;
    position: sticky;
  }
  .ham {
    margin: 0.2vh 0;
    z-index: 999;
  }
  .linie1 {
    background-image: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    width: 6vh;
    height: 1vh;
    position: fixed;
    border-radius: 10%;
    margin:0.1vh 1vh;
  }
  .linie2 {
    background-image: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    width: 4vh;
    height: 1vh;
    position: fixed;
    border-radius: 10%;
    margin:2.1vh 1vh;
  }
  .linie3 {
    background-image: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    width: 3vh;
    height: 1vh;
    position: fixed;
    border-radius: 10%;
    margin:4.1vh 1vh;
  }
  .click {
    width: 10vh;
    height: 8vh;
    position: absolute;
    }
    .content {
    background: black;  
    position: fixed;
   width: 40%;
   height: 40vh;
   margin: 6vh 0vh ; 
   z-index: ya;
   border-radius: 0% 0% 5% 0%;
   cursor: pointer;
    }
  .textCo{
    background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    background-clip: text;
     color: transparent;
  }
  a {
    text-decoration: none;
    background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    background-clip: text;
     color: transparent;
  }
  ul { 
    list-style: none;
    font-size: 3vh;
  }
  
  .unten {
    width: 100%;
    height:  7%;
    background: #cbcbcb69 ;
    position: fixed ;
    bottom:0vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .Mitte {
    text-align: center;
    background: #cbcbcb69 ;
    width: 80%;
    height: 75%;
    padding: 1vh;
    border-radius: 4%;
    z-index: -100;
    left: 7%;
    right: 3%;
    top: 10%;
    position: fixed;
  }
  .info1 {
    background: linear-gradient(to right,#d682f8,rgb(137, 137, 253), rgb(96, 251, 181) );
    background-clip: text;
    color: transparent;
    font-weight:bold ;
    font-size: 4.5vh;
    z-index: -100;
  }
  .img1 {
    width: 5vh;
    height: 5vh;
    margin:0.5vh 20vh ;
    position: fixed;
  }
  .img2 {
    width: 5vh;
    height: 5vh;
    margin: 0.2vh -7vh;
  }
  .imageList {
    width: 89%;
    height: 74%;
    background: rgba(0, 0, 0, 0.639);
    display: flex;
    flex-direction: column;
    border-radius: 4%;
    margin: -2% 5%;
    position: sticky;
  }
  .btn1 {
    background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 4.5vh;
    position: sticky;
    font-family: 'Dancing Script', cursive, 'Roboto', sans-serif;
    margin: -1.5% 0;
  }
  button {
   background: transparent;
   border: none;
   z-index: -100;
  }
  .imgI {
    width: 70%;
    height: 85%;
   border-radius: 4%;
   margin:3% 10% 1% 16%;
   position: sticky;
   z-index: -100;
  }
  .info {
    background: linear-gradient(to right,#d682f8,rgb(137, 137, 253), rgb(96, 251, 181) );
    background-clip: text;
    color: transparent;
   font-weight: bold;
   margin:3% 0%;
   text-align: left;
   font-size: 2.5vh;
   padding: 1% 3% ;
   z-index: -100;
  }
  .searchImg {
    width: 7vh;
    height: 7vh;
    position: sticky;
    z-index: -100;
    }
.element {
  background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
  background-clip: text;
  color: transparent;
    
}
.element:hover {
  color: white;
  text-decoration: underline white;
}
.po {
  position: sticky;
}
.po2{
  position: sticky;
}
.po3{
  position: sticky;
}
.po1 {
  position: sticky;
}
.po4 {
  position: sticky;
}
.shPi {
  position: sticky;
}

/**CSS Chat **/
.chat {
  background-color: rgba(0, 0, 0, 0.744);
  width: 80%;
   height: 75%;
   padding: 3vh 1vh;
    border-radius: 4%;
    z-index: -100;
    left: 7%;
    right: 3%;
    top: 10%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}
.send2 {
  color: white;
  position: fixed;
  margin: -2% 70%;
}
.inputCH {
  border: none;
  background-color: transparent;
  color: white;
  width: 70%;
  height: 4%;
  font-size: 120%;
  position: fixed;
  margin:  0%  ;
}
.inputCH::placeholder {
 color: white; 
 font-size: 100%;

}
.btnD {
  color: white;
  font-family: 'Dancing Script', cursive, 'Roboto', sans-serif;

}
.btnE {
  color: white;
  font-family: 'Dancing Script', cursive, 'Roboto', sans-serif;

}
.btnS {
  color: white;
  font-family: 'Dancing Script', cursive, 'Roboto', sans-serif;

}
.list {
  display: flex;
  flex-direction: column ;
  justify-content:flex-start;
  overflow-y: scroll;
  height: 100%;
  margin: 7% 0%;
  gap: -3% 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.inputCH1 {
  border: none;
  background-color: white;
  color: black;
  width: 90%;
  height: auto;
  font-size: 100%;
  position: sticky;
  margin:  0% 0% ;
  border-radius: 5%;
}
.message {
  background-color: rgb(4, 86, 12);
  padding: 5%;
  margin:  5% -10%;
  height: auto;
  width: 50%;
  border-radius: 5%;
}


/**CSS Bildgalerie**/
.bildgalerie {
  background-color: rgba(0, 0, 0, 0.877);
  width: 80%;
    height: 75%;
    padding: 1vh;
    border-radius: 4%;
    z-index: -100;
    left: 7%;
    right: 3%;
    top: 10%;
    position: fixed;
    overflow-y: scroll;
}
.grid {
 display: grid;
 top: 10%;
 grid-template-rows: repeat(7,0.1fr);
 padding: 5%;
}
.imgG {
   width: 87%;
   max-height: 65%;
   padding:0% 5% ;
   border-radius: 14%;
   text-align: center;
   z-index: -1;
}
.icons1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: sticky;
  margin: -32% 0%;
}
.like1 {
 position: sticky;
}
.comment1 {
  position: sticky;
}
.likeNumber {
  color: white;
  font-size: 4vh;
  margin: 0% 33%;

}
.ani:hover {
   transform: scale(1.3);
}

.commentOpen {
  width: 82%;
  height: 55%;
  background-color: black;
  z-index: 100;
  margin: -84% -54%;
  position: fixed;
  overflow-y: scroll;
 border-radius: 5%;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
}
.input1 {
 background-color: black;
 color: white;
 width: 50%;
 height: 4%;
 font-size: 150%;
 position: fixed;
 margin: 0% 6%;
 border: rgb(74, 74, 74) 0.2vh solid;
 border-radius: 5%;
}
.input1::placeholder {
  font: 150%;
}
.send1 {
  color: white;
  margin: 1% 18%;
  position: fixed;
}

.newCo {
  padding:87% 0%;
  margin: 3%;
  color: white;
}
/**CSS Search**/ 
.search {
  background-color: rgba(0, 0, 0, 0.744);
  width: 80%;
   height: 75%;
   padding: 3vh 1vh;
    border-radius: 4%;
    z-index: -100;
    left: 7%;
    right: 3%;
    top: 10%;
    position: fixed;
    color: white;
}
.name {
  font-size: 6vh;
  color: rgb(254, 254, 254);
  font-weight: bold;
}
.input {
  border: none;
  background-color: transparent;
  color: white;
  width: 90%;
  height: 3%;
  font-size: 120%;
}
.input::after {
  content: '';
  background-color: gray;
 width: 1000%;
 height: 500%;
}
.input::placeholder {
 color: white; 
 font-size: 100%;

}
th {
  font-size: 4vh;
  background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
 background-clip: text;
 color: transparent;
}

/** Login und Signup**/
.login {
   background-color: rgba(0, 0, 0, 0.744);
   width: 80%;
   height: 75%;
   padding: 3vh 1vh;
    border-radius: 4%;
    z-index: -100;
    left: 7%;
    right: 3%;
    top: 10%;
    position: fixed;
    font-family: 'Dancing Script', cursive, 'Roboto', sans-serif;
}
.signup {
  background-color: rgba(0, 0, 0, 0.744);
  width: 80%;
  height: 75%;
  padding: 3vh 1vh;
   border-radius: 4%;
   z-index: -100;
   left: 7%;
   right: 3%;
   top: 10%;
   position: fixed;
}
.head {
  font-weight: bold;
  background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
  color: transparent;
  background-clip: text;
  font-size: 300%;
  text-align: center;
}
#us {
  margin:10% 0%;
  background: transparent ;
  border-bottom: 1% white ;
  border-top: none;
  border-right: none;
  border-left: none;
  color:white;
  width: 70%;
  height: 5%;
  font-size:195%;
  margin: 5%;
  font-family: 'Dancing Script', cursive, 'Roboto', sans-serif;

}
#pa {
  background: transparent ;
  border-bottom: 1% rgb(255, 255, 255) ;
  border-top: none;
  border-right: none;
  border-left: none;
  color:white;
  width: 70%;
  height: 5%;
  font-size:195%;
  margin: 0% 5%;
  font-family: 'Dancing Script', cursive, 'Roboto', sans-serif;

}
#us::placeholder {
  color: white;
  font-family: 'Dancing Script', cursive, 'Roboto', sans-serif;

}
#pa::placeholder {
  color: white;
  font-family: 'Dancing Script', cursive, 'Roboto', sans-serif;

}





.importantI {
  color: white;
  font-size: 140%;
  margin: 0% 5%;
}
.sg  {
color: white;


}
.sg:hover {
  text-decoration: underline;
}
p {
  background: none;
  border: 0;
  box-sizing: border-box;
  box-shadow:inset 0 0 0 1px #f96767;
  color: #ffffff;
  font-weight: bolder;
  margin: -5% 4%;
  padding: -100% 0%;
 font-size: 250%;
 width: 30%;
 height: 7%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.AniB {
  overflow: hidden;
  position: absolute;
  
}
.AniB::before, .AniB::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.AniB::before {
  top: 0;
  left: 0;
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  animation: border 2s infinite;
}
.AniB::after {
  bottom: 0;
  right: 0;
  animation: border 2s 1s infinite, borderColor 2s 1s infinite;
}

@keyframes border {
  0% {
    width: 0;
    height: 0;
  }
  25% {
    width: 100%;
    height: 0;
  }
  50% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes borderColor {
  0% {
    border-bottom-color: #60daaa;
    border-left-color: #60daaa;
  }
  50% {
    border-bottom-color: #60daaa;
    border-left-color: #60daaa;
  }
  51% {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

/**Videogalerie**/
.videogalerie {
  background-color: rgba(0, 0, 0, 0.877);
  width: 80%;
    height: 75%;
    padding: 1vh;
    border-radius: 4%;
    z-index: -100;
    left: 7%;
    right: 3%;
    top: 10%;
    position: fixed;
    overflow-y: scroll;
}
.video {
  width: 80%;
  height: 90%;
  border-radius: 5%;
  margin: 10% 5% ;
}
.likeNumber1 {
 color: white;
 font-size: 3vh;
 margin: 0 5%;
}


/**Picture shop**/

.pictureShop {
  background-color: rgba(0, 0, 0, 0.877);
  width: 80%;
    height: 75%;
    padding: 1vh;
    border-radius: 4%;
    z-index: -100;
    left: 7%;
    right: 3%;
    top: 10%;
    position: fixed;
    overflow-y: scroll;
}
.headPS {
  /**background: linear-gradient(to right, rgb(96, 251, 181), #a31cd8);
  background-clip: text;
  color: transparent;
  font-size: 1000vh;
  background-color: red;
  position: fixed;
  z-index: 100;
  width: 10000vh;
  height: 10000vh;**/
  color: white;
}


}

/**Desktop**/